<div id="fixed-social-network" class="medium--hide small--hide">
	{%if settings.use_social_facebook%}
	<a href="{{settings.social_facebook_link}}" class="fb-icon"><i class="fab fa-facebook-f"></i> Facebook</a>
	{%endif%}
	{%if settings.use_social_instagram%}
	<a href="{{settings.social_instagram_link}}" class="ins-icon"><i class="fab fa-instagram"></i> Instagram</a>
	{%endif%}
	{%if settings.use_social_youtube%}
	<a href="{{settings.social_youtube_link}}" class="yt-icon"><i class="fab fa-youtube"></i> Youtube</a>
	{%endif%}							
	{%if settings.use_social_twitter%}					
	<a href="{{settings.social_twitter_link}}" class="tw-icon"><i class="fab fa-twitter"></i> Twitter</a>
	{%endif%}
	{%if settings.use_social_googleplus%}
	<a href="{{settings.social_google_link}}" class="gg-icon"><i class="fab fa-google-plus-g"></i> Google+</a>
	{%endif%}	
	{%if settings.use_social_linkedin%}
	<a href="{{settings.social_linkedin_link}}" class="linkedin-icon"><i class="fab fa-linkedin-in"></i> Linkedin</a>
	{%endif%}
	{%if settings.use_social_skype%}
	<a href="{{settings.social_skype_link}}" class="skype-icon"><i class="fab fa-skype"></i> Skype</a>
	{%endif%}
	{%if settings.use_social_zalo%}
	<a href="{{settings.social_zalo_link}}" class="zalo-icon"><i class="far fa-comment"></i> Zalo</a>
	{%endif%}
	<a href="javascript:void(0)" id="back-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i> Top</a>
</div>



