<section id="home-small-collections">
	<div class="wrapper">
		<div class="inner">
			<div class="grid">
				{%for i in (1..2)%}
				{%capture hsmallcol_title%}hsmallcol_title{{i}}{%endcapture%}
				{%capture hsmallcol_select%}hsmallcol_select{{i}}{%endcapture%}
				{%capture hsmallcol_limit%}hsmallcol_limit{{i}}{%endcapture%}
				{%assign _hsmallcol_select = settings[hsmallcol_select]%}
				<div class="grid__item large--one-half medium--one-whole small--one-whole">
					<div class="hsmallcol-wrapper">
						<div class="section-title wow fadeInDown">
							<h2>
								{{settings[hsmallcol_title]}}
							</h2>
							<span class="section-title-border"></span>
						</div>
						<div class="grid-uniform md-mg-left-15">
							{%if collections[_hsmallcol_select]products_count > 0%}
							{%for hsmallcol_item in collections[_hsmallcol_select]products limit: settings[hsmallcol_limit]%}
							<div class="grid__item md-pd-left15 large--one-half medium--one-half small--one-half">
								<div class="hsmallcol-item wow fadeInDown" data-wow-duration="0.75s" data-wow-delay="{{forloop.index | times:0.2}}s">
									<div class="grid mg-left-5">
										<div class="grid__item large--one-third medium--one-third small--one-third pd-left5">
											<div class="hsmallcol-img">
												<a href="{{hsmallcol_item.url}}">
													<img class="lazyload" src="{{ 'lazyload.jpg' | asset_url }}" data-src="{{ hsmallcol_item.featured_image.src | img_url: 'small' }}" alt="{{hsmallcol_item.title}}" />
												</a>
											</div>
										</div>
										<div class="grid__item large--two-thirds medium--two-thirds small--two-thirds pd-left5">
											<div class="hsmallcol-title">
												<a href="{{hsmallcol_item.url}}">
													{{hsmallcol_item.title | truncate: 45}}
												</a>
											</div>
											<div class="hsmallcol-price">
												<span class="current-price">{{hsmallcol_item.price | money}}</span>
												{% if hsmallcol_item.compare_at_price > hsmallcol_item.price %}
												<span class="original-price"><s>{{hsmallcol_item.compare_at_price_max | money}}</s></span>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
							{%endfor%}
							{%else%}
							<div class="grid__item md-pd-left15 large--one-whole text-center wow fadeInDown" data-wow-duration="0.75s" data-wow-delay="0.2s">
								Chưa có sản phẩm nào trong nhóm sản phẩm này !
							</div>
							{%endif%}
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</section>
