<div id="index-sidebar-testimonials" class="fadeInLeft wow">
	<h3 class="text-center">
		{{settings.htesti_title}}
	</h3>
	<div class="isb-testi-slider grid">
		<div id="owl-isb-testi-slider" class="owl-carousel owl-theme">
			{%for i in (1..10)%}
			{%capture htesti_enable%}htesti_enable{{i}}{%endcapture%}
			{%capture htesti_cus_title%}htesti_cus_title{{i}}{%endcapture%}
			{%capture htesti_cus_role%}htesti_cus_role{{i}}{%endcapture%}
			{%capture htesti_cus_quote%}htesti_cus_quote{{i}}{%endcapture%}
			{%capture htesti_cus_ava%}htesti_cus_ava{{i}}.jpg{%endcapture%}
			{%if settings[htesti_enable]%}
			<div class="item grid__item">
				<div class="htesti-item text-center">
					<div class="htesti-img">
						<img src="{{htesti_cus_ava | asset_url}}" alt="{{settings[htesti_cus_title]}}" />
					</div>
					<div class="htesti-desc">
						{{settings[htesti_cus_quote]}}
					</div>
					<div class="htesti-title">
						{{settings[htesti_cus_title]}}
					</div>
					<div class="htesti-role">
						{{settings[htesti_cus_role]}}
					</div>
				</div>
			</div>
			{%endif%}
			{%endfor%}
		</div>
	</div>
</div>
