{% if paginate.pages > 1 %}
{%if template contains 'search'%}
<div id="pagination-{{pagination}}" class="pagination-custom text-center clear-left">
	{% if paginate.pages > 1 %}
	{% if paginate.previous %}
	<span class="prevePage"><a href="{{ paginate.previous.url | replace : '&(title','&&(title' | replace : '=&page','&page' | replace : '25',''}}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></span>
	{% endif %}

	{%for part in paginate.parts%}
	{%if part.is_link%}
	<span class="page"><a href="{{part.url| replace : '&(title','&&(title' | replace : '=&page','&page' | replace : '25',''}}">{{part.title}}</a></span>
	{%else%}
	<span class="page {%if part.title == paginate.current_page%}current{%endif%}">{{part.title}}</span>
	{%endif%}
	{%endfor%}

	{% if paginate.next %}
	<span class="nextPage"><a href="{{ paginate.next.url | replace : '&(title','&&(title' | replace : '=&page','&page' | replace : '25','' }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></span>
	{% endif %}

	{% endif %}
</div>
{%else%}
<div id="pagination-{{pagination}}" class="text-center clear-left">
	<div class="pagination-custom">
		{% if paginate.previous %}
		<span class="prevePage"><a href="{{ paginate.previous.url }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a></span>
		{% endif %}

		{%for part in paginate.parts%}
		{%if part.is_link%}
		<span class="page"><a class="page-node" href="{{part.url}}">{{part.title}}</a></span>
		{%else%}
		<span class="page page-node {%if part.title == paginate.current_page%}current{%endif%}">{{part.title}}</span>
		{%endif%}
		{%endfor%}

		{% if paginate.next %}
		<span class="nextPage"><a href="{{ paginate.next.url }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a></span>
		{% endif %}
	</div>
</div>
{%endif%}
{%endif%}


