{%if settings.show_seen_products%}
<div id="seen-products" class="seen-products-slider">
	<div class="home-section-head clearfix">
		<div class="section-title text-center">
			<h2>
				{{settings.seen_products_title}}
			</h2>
			<span class="section-title-border"></span>
		</div>
	</div>
	<div class="home-section-body">
		<div class="show">
			<div class="product-seen grid mg-left-15">
				<div id="owl-spdx" class="owl-carousel new-slide">
				</div>

				<div id="clone-item">
					<div class="grid__item item pd-left15 hide">

						<div class="seen-item">
							<div class="product-img">
								<a href="{{product_layout.url  | within: collection}}">
									<img src="{{ product_layout.featured_image.src | img_url: 'medium' }}" alt="{{product_layout.title}}" />
								</a>
								<div class="tag-saleoff text-center">
									-<span></span>%
								</div>
							</div>
							<div class="product-item-info text-center">
								<div class="product-title">
									<a href="{{product_layout.url}}">{{product_layout.title | truncate: 45}}</a>
								</div>
								<div class="product-price clearfix">
									<span class="current-price">{{product_layout.price | money}}</span>
									<span class="original-price"><s>{{product_layout.compare_at_price_max | money}}</s></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{%endif%}

<script>

var product_handle = '{{ product.handle }}';
var last_view_products_current = localStorage.getItem('last_view_products');
var max_last_view_products = 20;

if( ! last_view_products_current ) {
	last_view_products_current = [];
} else {
	last_view_products_current = JSON.parse(last_view_products_current);
}

if( last_view_products_current.indexOf(product_handle) == -1 ) {
	if( last_view_products_current.length >= max_last_view_products ) {
		last_view_products_current.shift();
	}

	last_view_products_current.push( product_handle );
	localStorage.setItem('last_view_products', JSON.stringify(last_view_products_current));
}else{
	var remove_at = last_view_products_current.indexOf(product_handle); 
	last_view_products_current.splice(remove_at, 1);
	last_view_products_current.push(product_handle);
	if( last_view_products_current.length >= max_last_view_products ) {
		last_view_products_current.shift();
	}
}

</script>

<script>

$(document).ready(function() {

	var last_view_products = JSON.parse(localStorage.getItem('last_view_products'));

	if( ! last_view_products ) {
		$(document).ready(function() {
			$('.product-viewed').hide();
		});		
		last_view_products = [];
		return;
	}
	var	display = {{settings.seen_products_limit}};

									var display_items = last_view_products.length < display ? last_view_products.length : display;
									var item_idx = 1;   

									while( item_idx <= display_items ) {
	var handle = last_view_products[last_view_products.length -  item_idx];

	Haravan.getProduct( handle, function( product ) {
		var item_product = $('#clone-item .item').clone().removeClass('hide').appendTo('#owl-spdx');
		var tag_saleoff = (product.compare_at_price - product.price) / product.compare_at_price * 100;
		var item_product_title;
		if(product.title.length > 45){
			var item_product_title = product.title.substring(0, 45) + '...';
		} else {
			var item_product_title = product.title;
		}
		item_product.find('.seen-item .product-item-info .product-title > a').html(item_product_title);
		item_product.find('.seen-item .product-img > a > img').attr('src',Haravan.resizeImage(product.featured_image, 'medium'));
		item_product.find('.seen-item .product-item-info .product-title > a').attr('href', product.url);
		item_product.find('.seen-item .product-img > a').attr('href', product.url);
		item_product.find('.seen-item .product-item-info .current-price').html(Haravan.formatMoney(product.price,"{{ shop.money_format }}" ));
		item_product.find('.seen-item .product-item-info .original-price > s').html(Haravan.formatMoney(product.compare_at_price,"{{ shop.money_format }}" ));
		item_product.find('.seen-item .product-img .tag-saleoff > span').html(Math.round(tag_saleoff));
	});
	item_idx++;  
}

setTimeout(function() {
	var owl_1 = $("#owl-spdx").owlCarousel({
		items: 5,
		itemsDesktop: [1000, 5],
		itemsDesktopSmall: [900, 4],
		itemsTablet: [768, 3],
		itemsMobile: [480, 2],
		navigation: true,
		pagination: false,
		slideSpeed: 1000,
		paginationSpeed: 1000,
		navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>']
	});
	$('.seen-item .original-price s').each(function() {
		var val = parseInt($(this).html());
		if(val == 0) {
			$(this).remove();
		}
	});
	$('.seen-item .product-img .tag-saleoff').each(function() {
		var val =  $( "span", this ).html();
		if(val == '-Infinity') {
			$(this).remove();
		}
	});
}, 2000);

});

</script>




